// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)

// Default variable overrides
//$body-bg:#dddcda;
//$body-color: #dddcda;

// 

//$card-bg: white;
//$card-title-color:  #2e8a88;

//$bg-dark: #2e8a88;
$primary: #2e8a88;
$secondary: #41a978;
$light: white;

$white:    #fff ;
$gray-100: #f8f9fa ;
$gray-200: #e9ecef ;
$gray-300: #dee2e6 ;
$gray-400: #ced4da ;
$gray-500: #adb5bd ;
$gray-600: #6c757d ;
$gray-700: #495057 ;
$gray-800: #343a40 ;
$gray-900: #212529 ;
$black:    #000;

@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here
#wfo-banner{
    padding: 0.5em;
    padding-left: 1em;
    background-color: #1d4c67;
    color: white;
    background-image: url("../images/logo512.png");
    background-repeat: no-repeat;
    background-position-x: right;
    background-attachment: fixed;
    background-position-y: -40px;
}

.wfo-navbar{
    background-image: url("../images/logo512.png");
    background-repeat: no-repeat;
    background-position-y: -40px;
    background-position-x: right;
    background-attachment: fixed;
} 

body{
    font-family: "Source Sans, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif";

    background-image: url("../images/logo512.png");
    background-repeat: no-repeat;
    background-position-y: -40px;
    background-position-x: right;
    background-blend-mode: lighten;
    background-attachment: fixed;

} 


.nav-link{
    color:white;
}